* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-color: white;
    height: 150vh;
    padding-top: 1px;
}

.title {
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: rgb(10, 10, 10);
    font-size: 25px;
    text-align: center;
    
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #09f4fc;
}

.playerO {
    color: #bf01f8;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 4px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}
.restart {
    background-color: #498AFB;
}
#play
{
    align-items: center;
}
#reset {
   background-color: red;
}